.container {
  display: block;
  position: relative;
  border: #ffc6ff solid 5px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  line-height: 25px;
  color: #fafafa;
  border-radius: 15px;
  background: #bdb2ff;
  margin: 50px auto 30px auto;
  padding: 35px 40px 30px 40px;
  max-width: 900px fit-content;
  max-height: 800px fit-content;
}

#search-city {
  margin: 30px 20px 10px 20px;
}

.search-bar {
  font-family: "Urbanist", sans-serif;
  width: 400px;
  margin: 20px 0px 20px 40px;
  padding: 10px;
  border: white solid 2px;
  border-radius: 20px;
  background: #d7aef3;
}

#search-button {
  margin-left: -50px;
  position: static;
  background: transparent;
  border: transparent;
}

#location-button {
  background: rgba(202, 255, 191, 0.3);
  font: 15px "Urbanist", sans-serif;
  margin: 0px 0px 0px 40px;
  padding: 3px 7px 3px 7px;
  border: white solid 2px;
  border-radius: 10px;
}
#location-button:hover {
  box-shadow: rgb(116, 75, 211) 0px 5px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font: 20px;
  margin: 0;
  padding: 2px;
}

#weather-parameters {
  display: inline-block;
  text-align: end;
  font-size: 25px;
}

.currentForecast {
  font-size: 25px;
  margin: 20px;
}
.currentWeather {
  font: 35px "Urbanist", sans-serif;
  line-height: 5px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
}

.currentForecast img {
  height: 75px;
  width: 75px;
  margin: 0;
}
.temperatureConversion {
  display: inline;
  font: 20px "Urbanist", sans-serif;
}
.temperatureConversion .active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.temperatureConversion .active:hover {
  text-decoration: none;
}

#weatherDescription {
  text-transform: capitalize;
}

#githubLink {
  font: 20px;
  margin: 30px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 15px;
}

.col-2 {
  text-align: center;
  border: #79c0f8 solid 2px;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 200px fit-content;
  width: 450px fit-content;
  padding: 5px;
  margin: 15px;
  transition: ease-in-out 100ms;
}

.col-2:hover {
  box-shadow: rgb(77, 150, 179) 0px 5px 20px;
}
