.container {
  display: block;
  position: relative;
  border: #ffc6ff solid 5px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  line-height: 25px;
  color: #fafafa;
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    rgb(251, 250, 205) 15.5%,
    rgb(247, 163, 205) 70.5%,
    rgba(140, 66, 243, 0.808) 95.5%
  );
  margin: 50px auto 30px auto;
  padding: 35px 40px 30px 40px;
  max-width: 900px fit-content;
  max-height: 900px fit-content;
  transition: ease-in-out 100ms;
}

.container:hover {
  box-shadow: rgb(116, 75, 211) 0px 5px 10px;
}

#search-city {
  margin: 20px 20px 10px 20px;
}

.search-bar {
  font-family: "Urbanist", sans-serif;
  width: 400px;
  margin: 20px 0px 20px 40px;
  padding: 10px;
  border: white solid 2px;
  border-radius: 20px;
  background: #d7aef3;
}

#search-button {
  margin-left: -50px;
  position: static;
  background: transparent;
  border: transparent;
}

#location-button {
  background: #d7aef3;
  font: 15px "Urbanist", sans-serif;
  margin: 0px 0px 0px 40px;
  padding: 3px 7px 3px 7px;
  border: white solid 2px;
  border-radius: 10px;
}
#location-button:hover {
  box-shadow: rgb(116, 75, 211) 0px 5px 10px;
}

ul {
  margin: 0px;
  padding: 0;
}

li {
  list-style: none;
}

.currentForecast {
  display: block;
  text-align: center;
  margin: 10px 40px 0px 40px;
}
.currentForecast img {
  height: max-content;
  width: max-content;
}
#weatherDescription {
  text-transform: capitalize;
  font-size: 25px;
}

.temperatureConversion {
  font: 20px "Urbanist", sans-serif;
  display: inline;
}
.temperatureConversion .active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.temperatureConversion .active:hover {
  text-decoration: none;
}
.row {
  display: block;
  margin: 0;
  padding: 0;
}
#currentWeather {
  font: 35px "Urbanist", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #7a3956;
  display: block;
  padding: 0px;
  margin: -20px 100px 10px 250px;
}

#weather-parameters {
  text-align: end;
  display: block;
  max-width: fit-content;
  font-size: 15px;
  font-weight: lighter;
  color: #2c194d;
  margin-top: -75px;
  padding: 5px;
}

.forecastDiv {
  margin: 20px 10px 5px 10px;
}

#forecastCol {
  font: 30px;
  color: #2c194d;
  text-align: center;
  border: #e379f8 solid 2px;
  background: #f5cdcc;
  border-radius: 5px;
  max-height: 130px fit-content;
  max-width: 80px fit-content;
  padding: 5px;
  margin: 5px;
  transition: ease-in-out 100ms;
}

#forecastCol:hover {
  box-shadow: rgb(196, 72, 130) 0px 5px 20px;
}

#forecastCol img {
  width: 70px;
  height: 70px;
}

#forecastCol .forecast-minTemp {
  color: #393246a9;
}

#githubLink {
  font: 20px;
  display: block;
  text-align: center;
}
